menu "Allwinner SoC Audio support"
	depends on ARCH_SUNXI || COMPILE_TEST

config SND_SUN4I_CODEC
	tristate "Allwinner A10 Codec Support"
	select SND_SOC_GENERIC_DMAENGINE_PCM
	select REGMAP_MMIO
	help
	  Select Y or M to add support for the Codec embedded in the Allwinner
	  A10 and affiliated SoCs.

config SND_SUN4I_I2S
	tristate "Allwinner A10 I2S Support"
	select SND_SOC_GENERIC_DMAENGINE_PCM
	select REGMAP_MMIO
	help
	  Say Y or M if you want to add support for codecs attached to
	  the Allwinner A10 I2S. You will also need to select the
	  individual machine drivers to support below.

config SND_SUN4I_SPDIF
	tristate "Allwinner A10 SPDIF Support"
	depends on OF
	select SND_SOC_GENERIC_DMAENGINE_PCM
	select REGMAP_MMIO
	help
	  Say Y or M to add support for the S/PDIF audio block in the Allwinner
	  A10 and affiliated SoCs.

config SND_SUN8I
	tristate "Allwinner SUN6I/SUN8I audio card support"
	select SND_SUN8I_CODEC
	select SND_SUN4I_I2S
	select SND_SUN8I_CODEC_ANALOG
	select REGMAP_MMIO
	help
	  This option enables the audio card for Allwinner A33 (sun8i) SoC.
	  It enables the DAI driver (SND_SUN4I_I2S), the digital audio
	  codec driver (SND_SUN8I_CODEC) and the analog codec driver
	  (SND_SUN8I_CODEC_ANALOG).

	  Say Y or M if you want to add sun8i/6i card support

config SND_SUN8I_CODEC
	tristate "Allwinner SUN8I audio codec"
	select REGMAP_MMIO
        help
	  This option enables the digital part of the internal audio codec for
	  Allwinner sun8i SoC.

	  Say Y or M if you want to add sun8i digital audio codec support.

config SND_SUN8I_CODEC_ANALOG
	tristate "Allwinner SUN8I analog codec"
	select REGMAP_MMIO
        help
	  Say Y or M if you want to add sun8i analog audiocodec support

endmenu
