config DRM_SUN4I
	tristate "DRM Support for Allwinner A10 Display Engine"
	depends on DRM && ARM && COMMON_CLK
	depends on ARCH_SUNXI || COMPILE_TEST
	select DRM_GEM_CMA_HELPER
	select DRM_KMS_HELPER
	select DRM_KMS_CMA_HELPER
	select DRM_PANEL
	select REGMAP_MMIO
	select VIDEOMODE_HELPERS
	help
	  Choose this option if you have an Allwinner SoC with a
	  Display Engine. If M is selected the module will be called
	  sun4i-drm.

config DRM_SUN4I_DE2
	bool "Support Display Engine 2.0"
	depends on DRM_SUN4I
	default MACH_SUN8I
	select SUN8I_DE2_CCU
	help
	  Choose this option if you have an Allwinner SoC with a
	  "Display Engine 2.0".
